form{display: inline-block; margin: 2%}

body{background-color: rgb(238,237,234);}

.filters{background-color: rgba(0, 0, 0, 0.2); display: flex; width:35%; height:150px;
    align-items: left; flex-direction: column; margin: 0px; margin-bottom: 10px; border-radius: 30px;}

input[type=number], input[type=text], textarea{border: 3px solid #ccc; transition: 0.3s;
    width: 100%; border-radius: 10px; padding: 10px 6px;}

input[type=number]:focus, input[type=text]:focus, textarea:focus{border: 3px solid black;
    border-radius: 10px; padding: 10px 6px; outline: none;}

h2{font-family: Verdana, Helvetica, sans-serif;}

.add-button{background-color: black;  color: white; border: none; font-family: Verdana, Helvetica, sans-serif;
    font-size:15px; padding: 12px 16px; font-weight: bold; transition: 0.3s;}

.add-button:hover{background-color: rgba(255, 255, 255, 0.7); color: black; cursor: pointer;}

.main-section{background-color: rgba(255, 255, 255, 0.7); display: flex; width:67%; align-items: center;
    flex-direction: column; margin: 50px auto; padding: 5px; border-radius: 30px;}

.button-container{text-align: center;}

textarea{resize: vertical;}